/* cyberpunk-css by alddesign: https://github.com/alddesign/cyberpunk-css */

/*#region top level elements*/
:root {
    --yellow: #f8ef02;
    --cyan: #00ffd2;
    --blue: #136377;
    --green: #446d44;
    --purple: purple;
    --black: #000;

    --fg: var(--black);
    --bg: transparent;
    --ac: var(--black);

    --yellow-cyberpunk-font: #feef00;
    --cyan-cyberpunk-font1: #46dffb;
    --cyan-cyberpunk-font2: #45aefb;

    --banner-color1: var(--purple);
    --banner-color2: var(--red);
    --banner-color3: var(--yellow);
    --banner-color4: var(--cyan);
    --banner-gradient-stop: 405px;

    --input-padding-top: 0px;
    --input-padding-bot: 0.2rem;
    --input-padding-left: 1rem;
    --input-padding-right: 2rem;
    --input-font-size: 1.2rem;
    --input-width: 240px;

    --checkbox-size: 28px;
    --checkbox-inner-size: 16px;

    --radio-size: 28px;
    --radio-inner-size: 16px;
}


/*#region colors*/
.fg-yellow {
    --fg: var(--yellow);
    color: var(--yellow) !important;
}

.bg-yellow {
    --bg: var(--yellow);
    background-color: var(--yellow);
}

.ac-yellow {
    --ac: var(--yellow);
}

.fg-cyan {
    --fg: var(--cyan);
    color: var(--cyan) !important;
}

.bg-cyan {
    --bg: var(--cyan);
    background-color: var(--cyan);
}

.ac-cyan {
    --ac: var(--cyan);
}

.fg-red {
    --fg: var(--red);
    color: var(--red) !important;
}

.bg-red {
    --bg: var(--red);
    background-color: var(--red);
}

.ac-red {
    --ac: var(--red);
}

.fg-blue {
    --fg: var(--blue);
    color: var(--blue) !important;
}

.bg-blue {
    --bg: var(--blue);
    background-color: var(--blue);
}

.ac-blue {
    --ac: var(--blue);
}

.fg-green {
    --fg: var(--green);
    color: var(--green) !important;
}

.bg-green {
    --bg: var(--green);
    background-color: var(--green);
}

.ac-green {
    --ac: var(--green);
}

.fg-purple {
    --fg: var(--purple);
    color: var(--purple) !important;
}

.bg-purple {
    --bg: var(--purple);
    background-color: var(--purple);
}

.ac-purple {
    --ac: var(--purple);
}

.fg-black {
    --fg: var(--black);
    color: var(--black) !important;
}

.bg-black {
    --bg: var(--black);
    background-color: var(--black);
}

.ac-black {
    --ac: var(--black);
}

.fg-white {
    --fg: var(--white);
    color: var(--white) !important;
}

.bg-white {
    --bg: var(--white);
    background-color: var(--white);
}

.ac-white {
    --ac: var(--white);
}

.fg-dark {
    --fg: var(--dark);
    color: var(--dark) !important;
}

.bg-dark {
    --bg: var(--dark);
    background-color: var(--dark);
}

.ac-dark {
    --ac: var(--dark);
}

/*#endregion*/

/*#endregion*/

/*#region buttons*/
.cyber-button,
.cyber-button-small,
.cyber-button-big {
    --button-border: 4px;
    --button-font-size: 1.4rem;
    --button-padding-v: 0.9rem;
    --button-padding-h: 2.5rem;

    --tag-font-size: 0.55rem;

    --button-cutout: 1.1rem;

    --button-shadow-primary: var(--cyan);
    --button-shadow-secondary: var(--yellow);
    --button-shimmy-distance: 5;

    --button-clip-1: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    --button-clip-2: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
    --button-clip-3: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
    --button-clip-4: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --button-clip-5: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    --button-clip-6: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
    --button-clip-7: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);

    --button-clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 80% 90%, 80% 100%, var(--button-cutout) 100%, 0 calc(100% - var(--button-cutout)));

    cursor: pointer;
    background: transparent !important;
    text-transform: uppercase;
    font-size: var(--button-font-size);
    font-weight: 700;
    letter-spacing: 2px;
    padding: var(--button-padding-v) var(--button-padding-h);
    outline: transparent;
    position: relative;
    border: 0;
    transition: background 0.2s;
}

/*Overriding*/
.cyber-button-small {
    --button-padding-v: 0.6rem;
    --button-padding-h: 1.75rem;
    --button-font-size: 1.0rem;
    --button-cutout: 0.77rem;
}

.cyber-button-big {
    --button-padding-v: 1.1rem;
    --button-padding-h: 3.0rem;
    --button-font-size: 1.75rem;
    --button-cutout: 1.44rem;
}

.cyber-button:hover,
.cyber-button-small:hover,
.cyber-button-big:hover {
    filter: brightness(90%);
}

.cyber-button:after,
.cyber-button-small:after,
.cyber-button-big:after,
.cyber-button:before,
.cyber-button-small:before,
.cyber-button-big:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--button-clip);
    z-index: -1;
}

.cyber-button:before,
.cyber-button-small:before,
.cyber-button-big:before {
    background: var(--button-shadow-primary);
    transform: translate(var(--button-border), 0);
}

.cyber-button:after,
.cyber-button-small:after,
.cyber-button-big:after {
    background-color: var(--bg);
}

.cyber-button .tag,
.cyber-button-small .tag,
.cyber-button-big .tag {
    position: absolute;
    letter-spacing: 1px;
    bottom: -5%;
    right: 6%;
    font-weight: normal;
    color: #000;
    font-size: var(--tag-font-size);
}

.cyber-button-small .tag {
    --tag-font-size: 0.44rem;
    bottom: -8%;
}

.cyber-button-big .tag {
    --tag-font-size: 0.66rem;
    bottom: -5%;
}

.cyber-button .glitchtext,
.cyber-button-small .glitchtext,
.cyber-button-big .glitchtext {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--button-shadow-primary);
    text-shadow: 2px 2px var(--button-shadow-primary), -2px -2px var(--button-shadow-secondary);
    clip-path: var(--button-clip);
    animation: glitch 4s infinite;
    padding: var(--button-padding-v) var(--button-padding-h);
    display: none;
}

.cyber-button:hover .glitchtext,
.cyber-button-small:hover .glitchtext,
.cyber-button-big:hover .glitchtext {
    display: block;
}

.cyber-button .glitchtext:before,
.cyber-button-small .glitchtext:before,
.cyber-button-big .glitchtext:before {
    content: '';
    position: absolute;
    top: calc(var(--button-border) * 1);
    right: calc(var(--button-border) * 1);
    bottom: calc(var(--button-border) * 1);
    left: calc(var(--button-border) * 1);
    clip-path: var(--button-clip);
    background-color: var(--bg);
    z-index: -1;
}

@keyframes glitch {
    0% {
        clip-path: var(--button-clip-1);
    }

    2%,
    8% {
        clip-path: var(--button-clip-2);
        transform: translate(calc(var(--button-shimmy-distance) * -1%), 0);
    }

    6% {
        clip-path: var(--button-clip-2);
        transform: translate(calc(var(--button-shimmy-distance) * 1%), 0);
    }

    9% {
        clip-path: var(--button-clip-2);
        transform: translate(0, 0);
    }

    10% {
        clip-path: var(--button-clip-3);
        transform: translate(calc(var(--button-shimmy-distance) * 1%), 0);
    }

    13% {
        clip-path: var(--button-clip-3);
        transform: translate(0, 0);
    }

    14%,
    21% {
        clip-path: var(--button-clip-4);
        transform: translate(calc(var(--button-shimmy-distance) * 1%), 0);
    }

    25% {
        clip-path: var(--button-clip-5);
        transform: translate(calc(var(--button-shimmy-distance) * 1%), 0);
    }

    30% {
        clip-path: var(--button-clip-5);
        transform: translate(calc(var(--button-shimmy-distance) * -1%), 0);
    }

    35%,
    45% {
        clip-path: var(--button-clip-6);
        transform: translate(calc(var(--button-shimmy-distance) * -1%));
    }

    40% {
        clip-path: var(--button-clip-6);
        transform: translate(calc(var(--button-shimmy-distance) * 1%));
    }

    50% {
        clip-path: var(--button-clip-6);
        transform: translate(0, 0);
    }

    55% {
        clip-path: var(--button-clip-7);
        transform: translate(calc(var(--button-shimmy-distance) * 1%), 0);
    }

    60% {
        clip-path: var(--button-clip-7);
        transform: translate(0, 0);
    }

    31%,
    61%,
    100% {
        clip-path: var(--button-clip-4);
    }
}

/*#endregion*/

/*#region glitches*/

/*description: good for images. Effect of a dying flickering screen. Sometimes bright, sometimes dark.*/
.cyber-glitch-0 {
    animation: cyber-glitch-0 5s linear infinite;
}


@keyframes cyber-glitch-0 {
    0% {
        filter: blur(0) brightness(100%) contrast(100%);
    }

    2% {
        filter: blur(.05rem) brightness(120%) contrast(120%);
    }

    4% {
        filter: blur(.10rem) brightness(150%) contrast(150%);
    }

    6% {
        filter: blur(.20rem) brightness(170%) contrast(170%);
    }

    8% {
        filter: blur(0) brightness(100%) contrast(100%);
    }

    10% {
        filter: blur(0) brightness(100%) contrast(100%);
    }

    60% {
        filter: blur(0) brightness(100%) contrast(100%);
    }

    62% {
        filter: blur(.05rem) brightness(60%) contrast(100%);
    }

    64% {
        filter: blur(.10rem) brightness(40%) contrast(100%);
    }

    66% {
        filter: blur(0) brightness(100%) contrast(100%);
    }

    68% {
        filter: blur(.05rem) brightness(60%) contrast(100%);
    }

    70% {
        filter: blur(.10rem) brightness(40%) contrast(100%);
    }

    72% {
        filter: blur(0) brightness(100%) contrast(100%);
    }

    100% {
        filter: blur(0) brightness(100%) contrast(100%);
    }
}


/*description: good for images. nevous little shake first, then distorting/breaking effect by rotating and inverting colors.*/
.cyber-glitch-1 {
    animation: cyber-glitch-1 5s linear infinite;
}

@keyframes cyber-glitch-1 {
    0% {
        transform: translate(0, 0) skew(0deg);
        filter: invert(0);
    }

    1% {
        transform: translate(0, 0) skew(-3deg);
        filter: invert(0);
    }

    2% {
        transform: translate(0, 0) skew(3deg);
        filter: invert(0);
    }

    3% {
        transform: translate(0, 0) skew(0deg);
        filter: invert(0);
    }

    60% {
        transform: translate(0, 0) skew(0deg);
        filter: invert(0);
    }

    61% {
        transform: translate(0, 0) skew(-3deg);
        filter: invert(0.2);
    }

    62% {
        transform: translate(0, 0) skew(0deg);
        filter: invert(0.2);
    }

    63% {
        transform: translate(0, 0) skew(3deg);
        filter: invert(0.8);
    }

    64% {
        transform: translate(0, 0) skew(0deg);
        filter: invert(0.2);
    }

    65% {
        transform: translate(0, 0) skew(0deg);
        filter: invert(0);
    }
}

/*description: good for text and containers with text. squeeze effect by removing top an bottom of the element, shake left to right, apply glitchy text-shadow, back to normal*/
.cyber-glitch-2 {
    animation: cyber-glitch-2 4s linear infinite;
}

@keyframes cyber-glitch-2 {
    0% {
        clip-path: var(--og-clip-path);
        transform: translateX(0);
        text-shadow: none;
    }

    2% {
        clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
        transform: translateX(0);
        text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
    }

    4% {
        clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
        transform: translateX(-1rem);
        text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
    }

    6% {
        clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
        transform: translateX(1rem);
        text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
    }

    8% {
        clip-path: polygon(0 40%, 0 100%, 100% 100%, 100% 40%);
        transform: translateX(0);
        text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
    }

    12% {
        clip-path: polygon(0 10%, 0 40%, 100% 40%, 100% 10%);
        transform: translateX(0);
        text-shadow: var(--cyan) 1px 1px, var(--yellow) -1px -1px;
    }

    14% {
        clip-path: var(--og-clip-path);
        transform: translateX(0);
        text-shadow: none;
    }

    100% {
        clip-path: var(--og-clip-path);
        transform: translateX(0);
        text-shadow: none;
    }
}

/*description: good for text, especially underlines. Steady blinking*/
.cyber-glitch-3 {
    animation: cyber-glitch-3 1s linear infinite;
}

@keyframes cyber-glitch-3 {
    0% {
        visibility: visible;
    }

    49% {
        visibility: visible;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

/*description: good for text, especially underlines. Blinking with different pauses in between.*/
.cyber-glitch-4 {
    animation: cyber-glitch-4 5s linear infinite;
}

@keyframes cyber-glitch-4 {
    0% {
        visibility: visible;
    }

    1% {
        visibility: hidden;
    }

    2% {
        visibility: hidden;
    }

    3% {
        visibility: visible;
    }

    20% {
        visibility: visible;
    }

    21% {
        visibility: hidden;
    }

    24% {
        visibility: hidden;
    }

    25% {
        visibility: visible;
    }

    40% {
        visibility: visible;
    }

    41% {
        visibility: hidden;
    }

    42% {
        visibility: hidden;
    }

    43% {
        visibility: visible;
    }

    44% {
        visibility: visible;
    }

    45% {
        visibility: hidden;
    }

    46% {
        visibility: hidden;
    }

    47% {
        visibility: visible;
    }

    60% {
        visibility: visible;
    }

    61% {
        visibility: hidden;
    }

    64% {
        visibility: hidden;
    }

    65% {
        visibility: visible;
    }

    70% {
        visibility: visible;
    }

    71% {
        visibility: hidden;
    }

    72% {
        visibility: hidden;
    }

    73% {
        visibility: visible;
    }

    100% {
        visibility: visible;
    }
}

/*#endregion*/

/*#region tiles*/
.cyber-tile,
.cyber-tile-small,
.cyber-tile-big {
    --tile-padding: 4px;
    --tile-edges: 20px;
    --label-margins: calc(var(--tile-edges) - var(--tile-padding));
    --og-clip-path: polygon(0 0, 0 calc(100% - var(--tile-edges)), var(--tile-edges) 100%, 100% 100%, 100% var(--tile-edges), calc(100% - var(--tile-edges)) 0);
    width: var(--tile-width);
    min-height: 60px;
    clip-path: var(--og-clip-path);
    padding: var(--tile-padding);
    padding-bottom: var(--tile-edges);
}

.cyber-tile img,
.cyber-tile-small img,
.cyber-tile-big img {
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% var(--tile-edges), calc(100% - var(--tile-edges)) 0);
}

.cyber-tile label,
.cyber-tile-small label,
.cyber-tile-big label {
    display: block;
    margin: var(--label-margins) var(--label-margins) 0 var(--label-margins);
}

.cyber-tile img~label,
.cyber-tile-small img~label,
.cyber-tile-big img~label {
    margin-top: 0;
}


/*Overriding the values*/
.cyber-tile-small {
    --tile-width: 240px;
    --tile-edges: 14px;
}

/*Overriding the values*/
.cyber-tile-big {
    --tile-edges: 26px;
}
